@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Just+Another+Hand&display=swap");

$Inter: "Inter", sans-serif;
$Bebas: "Bebas Neue", sans-serif;
$Hand-font: "Just Another Hand", cursive;
